<html>
	<head>
		<link href="css/site.css" rel="stylesheet" />
		{{ template "head" }}
		<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet'>
	</head>
	<body class="{{ .PageName }}">
		{{ template "body" . }}
	</body>
</html>
